<div class="border">
</div>

<div class="container-fluid hero-contact p-0 m-0">
  <h2>The AW10 Collection: 
      A Concrete Serenity
  </h2>

  <div *ngFor="let category of productsCategory" class="col-md-4 newspaper">
    <!-- <h3>{{ category.categoryName }}</h3> -->

    <div class="box" *ngFor="let prod of category.products">
      <img
        class="productimg"
        [src]="'assets/products/' + prod.imageFile + '.png'"
        [alt]="prod.name"
      />

      <div class="details">
        <p class="productname">'{{ prod.name }}'</p>
        <p class="productcategory">{{ prod.description }}</p>
        <!-- <p class="productcategory">{{ prod.categoryName }}</p>
        <p class="productcategory">{{ prod.unitOfMeasure }}</p> -->
        <p class="price">{{ prod.price }}</p>
      </div>

     <button 
        class="cart-btn" 
        type="button"
        [routerLink]="['/cart']">
        Add to Cart
    </button>


    </div>
  </div>
</div>
<div class="border">
</div>
